@model List<KidKinder.Entities.BookASeat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Kayıt İşlemi</h5>
                        <span>Kayıt Sayfası ile iligli işlemler</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table table-hover">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ad Soyad</th>
                                        <th>Email</th>
                                        <th>Telefon</th>
                                        <th>Sınıf</th>
                                        <th>Sil</th>
                                        <th>Düzenle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.BookASeatId</td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.ClassRoom.Title</td>
                                            <td><a href="/BookASeatAdmin/DeleteBookASeatAdmin/@item.BookASeatId" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/BookASeatAdmin/UpdateBookASeatAdmin/@item.BookASeatId" class="btn btn-success">Düzenle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/BookASeatAdmin/CreateBookASeatAdmin/" class="btn btn-primary">Yeni Kayıt Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

