@model  KidKinder.Entities.Contact
<div class="row">
    <div class="col-lg-7 mb-5">
        <div class="contact-form">
            <div id="success"></div>
            @using (Html.BeginForm("ContactProcessPartial", "Contact", FormMethod.Post))
            {
                <div class="control-group">
                    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", placeholder = "İsminiz", size = "50", required = "required" })
                </div>
                <br />
                <div class="control-group">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email Adresiniz", size = "50", required = "required" })
                </div>
                <br />
                <div class="control-group">
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Konu", size = "50", required = "required" })
                </div>
                <br />
                <div class="control-group">
                    @Html.TextAreaFor(x => x.Message, 7, 3, new { @class = "form-control", placeholder = "Mesaj", required = "required" })
                </div>
                <br />
                <div>
                    <button class="btn btn-primary py-2 px-4"
                            type="submit"
                            id="sendMessageButton">
                        Mesaj Gönder
                    </button>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1505.0702012859351!2d28.83333226308084!3d41.02218413009286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa4e84a88156f%3A0x1fb5748e8e09aa88!2sKocasinan%20Merkez%2C%20%C3%87eltik%20Sk.%2C%2034100%20Bah%C3%A7elievler%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1709126566556!5m2!1str!2str" width="1050" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            }
        </div>
    </div>
    @Html.Action("ContactAddressPartial", "Contact")
</div>
